{% extends "layout.html" %}
{% block content %}
    <h1 class="content-title">Selamat Datang!!!</h1>
    <div class="home-message">
        <h2>Tentang Situs QuizAli</h2>
        <p>Ini adalah situs quiz sederhana yang dibuat untuk membantu kalian belajar tentang pengembangan AI menggunakan Python.</p>

        <p>Untuk mulai Quiz, silakan pilih menu Take Quiz di atas, atau <a href="{{ url_for('quiz') }}">klik di sini.</a></p>

        <br>
        <br>

        <h2>Fitur Weather</h2>
        <p>Jika kamu ingin mengetahui kondisi dan perkiraan cuaca di kota kamu, sila gunakan sidebar Weather.</p>
    </div>
{% endblock content %}