{% extends "layout.html" %}
{% block content %}
    <h1 class="content-title">Selamat Datang!!!</h1>
    <div class="home-content">
        <p>Ini adalah situs quiz sederhana yang dibuat untuk membantu kalian belajar tentang pengembangan AI menggunakan Python. Untuk mulai Quiz, silakan login lalu pilih menu Take Quiz.
        <br>
        <p>Jika kamu ingin mengetahui perkiraan 3 hari cuaca di kota kamu, gunakan fitur berikut.</p>
        <form method="POST" action="{{ url_for('home') }}" class="search-city">
            <input type="text" id="city" name="city" placeholder="Masukkan nama kota">
            <button type="submit">Lihat</button>
        </form>

        {% if error %}
            <p class="error-msg-weather">{{ error }}</p>
        {% else %}
            <h3>Informasi Cuaca Kota {{ city }}</h3>
        {% endif %}

        {% if list_cuaca %}
            <table>
                <tr>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Day Temp (°C)</th>
                    <th>Night Temp (°C)</th>
                </tr>
                {% for day in list_cuaca %}
                    <tr>
                        <td>{{ day.date }}</td>
                        <td>{{ day.day }}</td>
                        <td>{{ day.temp_day }}</td>
                        <td>{{ day.temp_night }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock content %}