{% extends "layout.html" %}
{% block content %}

<section class="main-content">
    <h2>Quiz</h2>
  <div class="quiz-question">
    <p>1. Ini adalah soal pertama...</p>
    <ul class="options">
      <li><button>A. pd.read_scv('/content/data.csv')</button></li>
      <li><button>B. pd.read_scv('/content/data.csv')</button></li>
      <li><button>C. rd.pead_scv('/content/data.csv')</button></li>
      <li><button>D. df.read_scv('/content/data.csv')</button></li>
    </ul>
  </div>
  <div class="quiz-question">
    <p>2. Bagaimana cara menggerakan turtle...</p>
    <ul class="options">
      <li><button>A. t.fd(50) then t.left(60)</button></li>
      <li><button>B. t.fd(50) then t.rt(100)</button></li>
      <li><button>C. t.fd(50) then t.left(60) then t.bk(100)</button></li>
      <li><button>D. t.fd(50) then t.rgt(60)</button></li>
    </ul>
  </div>
</section>

{% endblock content %}