{% extends "layout.html" %}
{% block content %}

<section class="main-content">
  <h1>Take the Quiz</h1>
  <form method="POST" action="{{ url_for('quiz') }}">
      {% for question in questions %}
          <div class="question-block">
              <p>{{ question['question'] }}</p>
              <div class="answer-options-group">
                  <div class="answer-option">
                      <input type="radio" id="{{ question.index }}_0" name="{{ question.index }}" value="{{ question['choices'][0] }}" >
                      <label for="{{ question.index }}_0">{{ question['choices'][0] }}</label>
                  </div>
                  <div class="answer-option">
                      <input type="radio" id="{{ question.index }}_1" name="{{ question.index }}" value="{{ question['choices'][1] }}" >
                      <label for="{{ question.index }}_1">{{ question['choices'][1] }}</label>
                  </div>
                  <div class="answer-option">
                      <input type="radio" id="{{ question.index }}_2" name="{{ question.index }}" value="{{ question['choices'][2] }}" >
                      <label for="{{ question.index }}_2">{{ question['choices'][2] }}</label>
                  </div>
                  <div class="answer-option">
                      <input type="radio" id="{{ question.index }}_3" name="{{ question.index }}" value="{{ question['choices'][3] }}" >
                      <label for="{{ question.index }}_3">{{ question['choices'][3] }}</label>
                  </div>
              </div>
          </div>
      {% endfor %}
      <button type="submit">Submit</button>
      {% if error %}
          <p style="color: red">{{ error }}</p>
      {% endif %}
  </form>
</section>

{% endblock content %}